workflows/00-daily-tracker.json
{
  "name": "Mitra",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        300
      ],
      "webhookId": "7e4ffc15-8b6a-4f30-ac0f-3bc4bca1278b",
      "credentials": {
        "telegramApi": {
          "id": "61YafmlNQxmiGwcT",
          "name": "Mitra Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "fileId": "={{ $json.message.photo[$json.message.photo.length - 1].file_id }}"
      },
      "id": "get-photo",
      "name": "Get Photo File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "61YafmlNQxmiGwcT",
          "name": "Mitra Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{ $env.TELEGRAM_BOT_TOKEN }}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-photo",
      "name": "Download Photo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/upload/v1beta/files?key={{ $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Protocol",
              "value": "raw"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Type",
              "value": "image/jpeg"
            },
            {
              "name": "Content-Type",
              "value": "image/jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "upload-to-gemini",
      "name": "Upload to Gemini Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const uploadResp = $input.first().json;\nconst fileUri = uploadResp?.file?.uri;\nconst mimeType = uploadResp?.file?.mimeType || 'image/jpeg';\n\nif (!fileUri) {\n  throw new Error('Gemini Files upload failed. Response: ' + JSON.stringify(uploadResp).substring(0, 500));\n}\n\nconst caption = $('Telegram Trigger').first().json.message.caption || '';\nconst userHint = caption ? '\\n\\nUser note: \"' + caption + '\"' : '';\n\nconst prompt = 'Analyze this food or drink image and return ONLY valid JSON, no markdown, no explanation.' + userHint + '\\n\\nFor meal_type use EXACTLY one of these values based on content and time:\\n- \"morning_fuel\" \u2014 breakfast/morning meal (6am-11am)\\n- \"midday_fuel\" \u2014 lunch/midday meal (11am-3pm)\\n- \"evening_fuel\" \u2014 dinner/evening meal (6pm-10pm)\\n- \"evening_snack\" \u2014 afternoon/evening snack, fruits (3pm-6pm)\\n- \"beverage\" \u2014 drinks only: coffee, tea, whey protein shake, fruit juice, energy drink, smoothie\\n\\nReturn this exact structure:\\n{\\n  \"meal_type\": \"midday_fuel\",\\n  \"items\": [{\"name\": \"Dal Rice\", \"portion\": \"1 bowl\", \"calories\": 350, \"protein\": 12, \"carbs\": 55, \"fat\": 8, \"sugar\": 3, \"fiber\": 6}],\\n  \"totals\": {\"calories\": 350, \"protein\": 12, \"carbs\": 55, \"fat\": 8, \"sugar\": 3, \"fiber\": 6},\\n  \"health_rating\": 4,\\n  \"notes\": \"Brief comment\"\\n}';\n\nconst geminiBody = {\n  contents: [{\n    parts: [\n      { fileData: { fileUri, mimeType } },\n      { text: prompt }\n    ]\n  }],\n  generationConfig: { temperature: 0.3, maxOutputTokens: 8192 }\n};\n\nreturn [{ json: { geminiBody, fileUri } }];"
      },
      "id": "encode-photo",
      "name": "Encode Photo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.geminiBody }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "gemini-analyze",
      "name": "Gemini Food Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst chatId = $('Telegram Trigger').first().json.message.chat.id;\nconst esc = s => String(s).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\n\n// Capture actual Gemini API errors (neverError:true keeps them out of node errors)\nif (raw.error) {\n  const msg = raw.error.message || JSON.stringify(raw.error).substring(0, 300);\n  const status = raw.error.status || raw.error.code || '?';\n  return [{ json: {\n    reply: `\u274c <b>Gemini error [${esc(String(status))}]:</b>\\n${esc(msg)}`,\n    chat_id: chatId,\n    meal_id: '', date: new Date().toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' }),\n    time: new Date().toLocaleTimeString('en-GB', { timeZone: 'Asia/Kolkata', hour12: false }),\n    meal_type: 'error', food_items: 'gemini_error',\n    calories: 0, protein_g: 0, carbs_g: 0, fat_g: 0, sugar_g: 0, fiber_g: 0\n  }}];\n}\n\nconst text = raw.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n\nlet parsed;\ntry {\n  const clean = text.replace(/```json\\n?|```/g, '').trim();\n  const match = clean.match(/\\{[\\s\\S]*\\}/);\n  parsed = match ? JSON.parse(match[0]) : {};\n} catch(e) {\n  parsed = {};\n}\n\nconst now = new Date();\nconst mealId = 'meal_' + now.getTime();\nconst items = (parsed.items || []).map(i => `\u2022 ${esc(i.name)} (${esc(i.portion)}): ${i.calories} kcal`).join('\\n');\nconst t = parsed.totals || {};\nconst sugarAlert = (t.sugar || 0) > 24 ? `\\n\\n\u26a0\ufe0f High sugar: ${t.sugar}g (limit: 30g/day)` : '';\nconst stars = '\u2b50'.repeat(Math.min(parsed.health_rating || 3, 5));\n\nconst reply = `\ud83c\udf7d\ufe0f <b>Meal Logged!</b>\\n\\n${items}\\n\\n<b>Totals:</b>\\nCalories: ${t.calories || 0} kcal\\nProtein: ${t.protein || 0}g | Carbs: ${t.carbs || 0}g | Fat: ${t.fat || 0}g\\n\\nHealth: ${stars}\\n\ud83d\udca1 ${esc(parsed.notes || '')}${sugarAlert}`;\n\nreturn [{ json: {\n  reply,\n  chat_id: chatId,\n  meal_id: mealId,\n  date: now.toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' }),\n  time: now.toLocaleTimeString('en-GB', { timeZone: 'Asia/Kolkata', hour12: false }),\n  meal_type: parsed.meal_type || 'meal',\n  food_items: (parsed.items || []).map(i => i.name).join(', '),\n  calories: t.calories || 0,\n  protein_g: t.protein || 0,\n  carbs_g: t.carbs || 0,\n  fat_g: t.fat || 0,\n  sugar_g: t.sugar || 0,\n  fiber_g: t.fiber || 0\n}}];"
      },
      "id": "parse-nutrition",
      "name": "Parse Nutrition",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        100
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.reply }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "id": "send-calorie-reply",
      "name": "Send Calorie Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1540,
        20
      ],
      "credentials": {
        "telegramApi": {
          "id": "61YafmlNQxmiGwcT",
          "name": "Mitra Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.SPREADSHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Meals"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "meal_id": "={{ $json.meal_id }}",
            "date": "={{ $json.date }}",
            "time": "={{ $json.time }}",
            "meal_type": "={{ $json.meal_type }}",
            "food_items": "={{ $json.food_items }}",
            "calories": "={{ $json.calories }}",
            "protein_g": "={{ $json.protein_g }}",
            "carbs_g": "={{ $json.carbs_g }}",
            "fat_g": "={{ $json.fat_g }}",
            "sugar_g": "={{ $json.sugar_g }}",
            "fiber_g": "={{ $json.fiber_g }}"
          },
          "schema": [
            {
              "id": "meal_id",
              "displayName": "meal_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "meal_type",
              "displayName": "meal_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "food_items",
              "displayName": "food_items",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "calories",
              "displayName": "calories",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "protein_g",
              "displayName": "protein_g",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "carbs_g",
              "displayName": "carbs_g",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "fat_g",
              "displayName": "fat_g",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "sugar_g",
              "displayName": "sugar_g",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "fiber_g",
              "displayName": "fiber_g",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "removed": false
            }
          ]
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "save-meal",
      "name": "Save Meal to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1540,
        180
      ],
      "credentials": {
        "googleApi": {
          "id": "fa9414e1-1db7-446e-94a2-2ffeb782e5d6",
          "name": "Mitra Google SA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = ($input.first().json.message.text || '');\nconst text = raw.replace(/^\\/water\\s*/i, '').toLowerCase();\nconst chatId = $input.first().json.message.chat.id;\nconst numMatch = text.match(/([\\d.]+)/);\nlet ml;\nif (numMatch) {\n  const num = parseFloat(numMatch[1]);\n  ml = num < 20 ? Math.round(num * 250) : Math.round(num);\n} else {\n  ml = 250;\n}\nif (ml < 50) ml = 50;\nif (ml > 2000) ml = 2000;\nconst now = new Date();\nreturn [{ json: {\n  chat_id: chatId, ml,\n  date: now.toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' }),\n  time: now.toLocaleTimeString('en-GB', { timeZone: 'Asia/Kolkata', hour12: false })\n}}];"
      },
      "id": "parse-water",
      "name": "Parse Water Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.SPREADSHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Water"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "time": "={{ $json.time }}",
            "ml": "={{ $json.ml }}"
          },
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ml",
              "displayName": "ml",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "removed": false
            }
          ]
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "save-water",
      "name": "Save Water to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        300
      ],
      "credentials": {
        "googleApi": {
          "id": "fa9414e1-1db7-446e-94a2-2ffeb782e5d6",
          "name": "Mitra Google SA"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.SPREADSHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Water"
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "read-water-today",
      "name": "Read Today Water",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "googleApi": {
          "id": "fa9414e1-1db7-446e-94a2-2ffeb782e5d6",
          "name": "Mitra Google SA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date().toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' });\nconst rows = $input.all();\nconst todayTotal = rows\n  .filter(r => r.json.date === today)\n  .reduce((sum, r) => sum + (parseFloat(r.json.ml) || 0), 0);\n\nconst target = 3000;\nconst remaining = Math.max(0, target - todayTotal);\nconst percent = Math.round((todayTotal / target) * 100);\n// Bar: 10 squares, each = 200ml\nconst filled = Math.min(Math.floor(todayTotal / 200), 10);\nlet bar = '';\nfor (let i = 0; i < 10; i++) bar += i < filled ? '\ud83d\udfe6' : '\u2b1c';\n\nlet msg = `\ud83d\udca7 *Water logged!*\\n\\n${bar}\\nToday: *${todayTotal}ml / ${target}ml* (${percent}%)`;\nif (remaining > 0) msg += `\\n${remaining}ml more to reach your goal!`;\nelse msg += `\\n\ud83c\udf89 Daily water goal reached!`;\n\nconst chatId = $('Parse Water Command').first().json.chat_id;\nreturn [{ json: { reply: msg, chat_id: chatId } }];"
      },
      "id": "format-water-reply",
      "name": "Format Water Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.reply }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "send-water-reply",
      "name": "Send Water Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1540,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "61YafmlNQxmiGwcT",
          "name": "Mitra Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.SPREADSHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Meals"
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "read-meals-today",
      "name": "Read Meals Today",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        660,
        500
      ],
      "credentials": {
        "googleApi": {
          "id": "fa9414e1-1db7-446e-94a2-2ffeb782e5d6",
          "name": "Mitra Google SA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date().toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' });\nconst text = ($('Telegram Trigger').first().json.message.text || '').toLowerCase();\n\nlet days = 1, periodLabel = 'Today';\nif (text.includes('month')) { days = 30; periodLabel = 'This Month (30 days)'; }\nelse if (text.includes('week')) { days = 7; periodLabel = 'This Week (7 days)'; }\n\nconst startDate = new Date();\nstartDate.setDate(startDate.getDate() - (days - 1));\nconst startDateStr = startDate.toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' });\nconst inRange = date => date >= startDateStr && date <= today;\n\nconst meals = $input.all().filter(r => inRange(r.json.date));\nconst calTarget = 2000 * days;\nconst totalCal = meals.reduce((s, r) => s + (parseFloat(r.json.calories) || 0), 0);\nconst totalProtein = meals.reduce((s, r) => s + (parseFloat(r.json.protein_g) || 0), 0);\nconst totalCarbs = meals.reduce((s, r) => s + (parseFloat(r.json.carbs_g) || 0), 0);\nconst totalFat = meals.reduce((s, r) => s + (parseFloat(r.json.fat_g) || 0), 0);\nconst totalSugar = meals.reduce((s, r) => s + (parseFloat(r.json.sugar_g) || 0), 0);\n\nconst calPct = Math.round((totalCal / calTarget) * 100);\nconst calBars = Math.min(Math.round((totalCal / calTarget) * 10), 10);\nlet calBar = ''; for (let i = 0; i < 10; i++) calBar += i < calBars ? '\ud83d\udfe9' : '\u2b1c';\n\nconst chatId = $('Telegram Trigger').first().json.message.chat.id;\nconst dateRange = days === 1\n  ? new Date().toLocaleDateString('en-IN', { weekday: 'long', day: 'numeric', month: 'short' })\n  : `${startDateStr} \u2192 ${today}`;\n\nlet msg = `\ud83d\udcca <b>${periodLabel}</b>\\n<i>${dateRange}</i>\\n\\n`;\nmsg += `\ud83c\udf7d\ufe0f <b>Calories</b>\\n${calBar}\\n`;\nif (days > 1) msg += `Total: <b>${totalCal} kcal</b> | Avg: <b>${Math.round(totalCal/days)} kcal/day</b> (${calPct}%)\\n`;\nelse msg += `${totalCal} / ${calTarget} kcal (${calPct}%)\\n`;\nmsg += `Protein: ${totalProtein}g | Carbs: ${totalCarbs}g | Fat: ${totalFat}g`;\n\nif (days === 1) {\n  const mealList = meals.map(r => `  \u2022 ${r.json.meal_type}: ${r.json.food_items} (${r.json.calories} kcal)`).join('\\n') || '  No meals logged yet';\n  msg += `\\n\\n\ud83e\udd57 <b>Meals (${meals.length})</b>\\n${mealList}`;\n} else {\n  msg += `\\n\\n\ud83e\udd57 <b>Meals logged: ${meals.length}</b> (avg ${(meals.length/days).toFixed(1)}/day)`;\n}\n\nif (totalSugar > 30 * days) msg += `\\n\\n\u26a0\ufe0f High sugar: ${totalSugar}g (limit: ${30 * days}g)`;\n\nreturn [{ json: { reply: msg, chat_id: chatId } }];"
      },
      "id": "build-summary",
      "name": "Build Daily Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        570
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.reply }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "id": "send-summary",
      "name": "Send Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        570
      ],
      "credentials": {
        "telegramApi": {
          "id": "61YafmlNQxmiGwcT",
          "name": "Mitra Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.message;\nconst foodText = (msg.text || '').replace(/^\\/food\\s*/i, '').trim();\n\nconst prompt = 'You are a nutrition expert. Analyze the following food or drink description and return ONLY valid JSON, no markdown, no explanation.\\n\\nFor meal_type use EXACTLY one of: \"morning_fuel\" (breakfast 6am-11am), \"midday_fuel\" (lunch 11am-3pm), \"evening_fuel\" (dinner 6pm-10pm), \"evening_snack\" (snack/fruits 3pm-6pm), \"beverage\" (coffee, tea, whey protein, juice, energy drink, smoothie).\\n\\nFood/Drink description: \"' + foodText + '\"\\n\\nReturn this exact structure:\\n{\\n  \"meal_type\": \"midday_fuel\",\\n  \"items\": [{\"name\": \"Dal Rice\", \"portion\": \"1 bowl\", \"calories\": 350, \"protein\": 12, \"carbs\": 55, \"fat\": 8, \"sugar\": 3, \"fiber\": 6}],\\n  \"totals\": {\"calories\": 350, \"protein\": 12, \"carbs\": 55, \"fat\": 8, \"sugar\": 3, \"fiber\": 6},\\n  \"health_rating\": 4,\\n  \"notes\": \"Brief comment\"\\n}\\n\\nIf the text is not a food description, return:\\n{\"items\": [], \"totals\": {\"calories\": 0, \"protein\": 0, \"carbs\": 0, \"fat\": 0, \"sugar\": 0, \"fiber\": 0}, \"meal_type\": \"unknown\", \"health_rating\": 0, \"notes\": \"Not recognised as food or drink. Type /food [what you ate/drank] or send a photo.\"}';\n\nconst geminiBody = {\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { temperature: 0.3, maxOutputTokens: 8192 }\n};\n\nreturn [{ json: { geminiBody } }];"
      },
      "id": "build-text-food",
      "name": "Build Text Food Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1000
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "\ud83d\udc4b *Mitra \u2014 Your Daily Companion*\n\n*\ud83c\udf7d\ufe0f Food \\& Drinks*\n\u2022 Send a *photo* of your meal or drink\n\u2022 `/food 2 rotis and dal` \u2014 log meal by text\n\u2022 `/food whey protein shake` \u2014 log beverage\n\u2022 `/food summary` \u2014 today's food \\+ water\n\u2022 `/food weekly` / `/food monthly` \u2014 trends\n\n\ud83c\udff7\ufe0f *Categories:* morning\\_fuel \\| midday\\_fuel \\| evening\\_fuel \\| evening\\_snack \\| beverage\n\n*\ud83d\udca7 Water*\n\u2022 `/water` \u2014 log 1 glass \\(250ml\\)\n\u2022 `/water 2` \u2014 log 2 glasses\n\u2022 `/water summary` \u2014 today's water intake\n\n*\u2696\ufe0f Weight*\n\u2022 `/weight 75\\.5` \u2014 log today's weight\n\u2022 `/weight summary week` \u2014 weekly trend\n\u2022 `/weight summary month` \u2014 monthly analysis\n\n*\ud83d\udcc4 Resume*\n\u2022 `/resume [paste JD]` \u2014 generate ATS\\-optimised PDF resume\n\u2022 Or paste any JD text \\(200\\+ chars\\) directly\n\n_Targets: 2000 kcal \u00b7 3000ml water_",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "send-help",
      "name": "Send Help",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        780
      ],
      "credentials": {
        "telegramApi": {
          "id": "61YafmlNQxmiGwcT",
          "name": "Mitra Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ ($json.message.text || '').toLowerCase() }}",
              "rightValue": "summary",
              "operator": {
                "type": "string",
                "operation": "contains",
                "singleValue": true
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ ($json.message.text || '').toLowerCase() }}",
              "rightValue": "today",
              "operator": {
                "type": "string",
                "operation": "contains",
                "singleValue": true
              }
            },
            {
              "id": "c3",
              "leftValue": "={{ ($json.message.text || '').toLowerCase() }}",
              "rightValue": "week",
              "operator": {
                "type": "string",
                "operation": "contains",
                "singleValue": true
              }
            },
            {
              "id": "c4",
              "leftValue": "={{ ($json.message.text || '').toLowerCase() }}",
              "rightValue": "month",
              "operator": {
                "type": "string",
                "operation": "contains",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "water-router",
      "name": "Water Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        200
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.SPREADSHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Water"
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "id": "read-water-only",
      "name": "Read Water Only",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        80
      ],
      "credentials": {
        "googleApi": {
          "id": "fa9414e1-1db7-446e-94a2-2ffeb782e5d6",
          "name": "Mitra Google SA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date().toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' });\nconst text = ($('Telegram Trigger').first().json.message.text || '').toLowerCase();\n\nlet days = 1, periodLabel = 'Today';\nif (text.includes('month')) { days = 30; periodLabel = 'This Month (30 days)'; }\nelse if (text.includes('week')) { days = 7; periodLabel = 'This Week (7 days)'; }\n\nconst startDate = new Date();\nstartDate.setDate(startDate.getDate() - (days - 1));\nconst startDateStr = startDate.toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' });\nconst inRange = d => d >= startDateStr && d <= today;\n\nconst rows = $input.all().filter(r => inRange(r.json.date));\nconst target = 3000 * days;\nconst total = rows.reduce((s, r) => s + (parseFloat(r.json.ml) || 0), 0);\nconst pct = Math.round((total / target) * 100);\n\nconst filled = Math.min(Math.floor((total / target) * 10), 10);\nlet bar = ''; for (let i = 0; i < 10; i++) bar += i < filled ? '\ud83d\udfe6' : '\u2b1c';\n\nconst chatId = $('Telegram Trigger').first().json.message.chat.id;\nconst dateRange = days === 1\n  ? new Date().toLocaleDateString('en-IN', { weekday: 'long', day: 'numeric', month: 'short' })\n  : `${startDateStr} \u2192 ${today}`;\n\nlet msg = `\ud83d\udca7 *Water Summary \u2014 ${periodLabel}*\\n_${dateRange}_\\n\\n${bar}\\n`;\n\nif (days > 1) {\n  msg += `Total: *${total}ml* | Avg: *${Math.round(total / days)}ml/day*\\n`;\n  msg += `Target: ${target}ml (${pct}%)`;\n} else {\n  msg += `${total}ml / ${target}ml (${pct}%)`;\n  const remaining = Math.max(0, target - total);\n  if (remaining > 0) msg += `\\n${remaining}ml more to reach your goal!`;\n  else msg += `\\n\ud83c\udf89 Daily water goal reached!`;\n}\n\nif (days === 1 && rows.length > 0) {\n  const logs = rows.map(r => `  \u2022 ${r.json.time}: ${r.json.ml}ml`).join('\\n');\n  msg += `\\n\\n\ud83d\udd50 *Logs (${rows.length})*\\n${logs}`;\n}\n\nreturn [{ json: { reply: msg, chat_id: chatId } }];"
      },
      "id": "build-water-summary",
      "name": "Build Water Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        80
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.reply }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "send-water-summary",
      "name": "Send Water Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1320,
        80
      ],
      "credentials": {
        "telegramApi": {
          "id": "61YafmlNQxmiGwcT",
          "name": "Mitra Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "w1",
              "leftValue": "={{ $json.message.text || '' }}",
              "rightValue": "/water",
              "operator": {
                "type": "string",
                "operation": "startsWith",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "water-check",
      "name": "Water Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "h1",
              "leftValue": "={{ $json.message.text || '' }}",
              "rightValue": "/help",
              "operator": {
                "type": "string",
                "operation": "startsWith",
                "singleValue": true
              }
            },
            {
              "id": "h2",
              "leftValue": "={{ $json.message.text || '' }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "startsWith",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "help-check",
      "name": "Help Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "p1",
              "leftValue": "={{ !!($json.message.photo && $json.message.photo.length > 0) }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "photo-check",
      "name": "Photo Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "s1",
              "leftValue": "={{ ($json.message.text || '').toLowerCase() }}",
              "rightValue": "summary",
              "operator": {
                "type": "string",
                "operation": "contains",
                "singleValue": true
              }
            },
            {
              "id": "s2",
              "leftValue": "={{ ($json.message.text || '').toLowerCase() }}",
              "rightValue": "today",
              "operator": {
                "type": "string",
                "operation": "contains",
                "singleValue": true
              }
            },
            {
              "id": "s3",
              "leftValue": "={{ ($json.message.text || '').toLowerCase() }}",
              "rightValue": "week",
              "operator": {
                "type": "string",
                "operation": "contains",
                "singleValue": true
              }
            },
            {
              "id": "s4",
              "leftValue": "={{ ($json.message.text || '').toLowerCase() }}",
              "rightValue": "month",
              "operator": {
                "type": "string",
                "operation": "contains",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "summary-check",
      "name": "Summary Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "f1",
              "leftValue": "={{ $json.message.text || '' }}",
              "rightValue": "/food",
              "operator": {
                "type": "string",
                "operation": "startsWith",
                "singleValue": true
              }
            },
            {
              "id": "f2",
              "leftValue": "={{ !!($json.message.photo && $json.message.photo.length > 0) }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "food-check",
      "name": "Food Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "r1",
              "leftValue": "={{ $json.message.text || '' }}",
              "rightValue": "/resume",
              "operator": {
                "type": "string",
                "operation": "startsWith",
                "singleValue": true
              }
            },
            {
              "id": "r2",
              "leftValue": "={{ ($json.message.text || '').length }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "gt",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "resume-check",
      "name": "Resume Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.item.json.message || {};\nconst chatId = msg.chat?.id;\nconst text = (msg.text || '').trim();\n\nconst lower = text.toLowerCase();\n\nif (lower.startsWith('/resume')) {\n  const jd = text.replace(/^\\/resume\\s*/i, '').trim();\n  if (!jd) {\n    return [{ json: { type: 'prompt_jd', chatId, text } }];\n  }\n  return [{ json: { type: 'resume', chatId, jobDescription: jd } }];\n}\n\nif (text.length > 200 && !text.startsWith('/')) {\n  return [{ json: { type: 'resume', chatId, jobDescription: text } }];\n}\n\nreturn [];"
      },
      "id": "parse-resume",
      "name": "Parse Resume",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        1060
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-prompt-jd",
              "leftValue": "={{ $json.type }}",
              "rightValue": "prompt_jd",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "resume-needs-jd",
      "name": "Resume Needs JD?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        1060
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "\ud83d\udccb Please send the job description after /resume:\n\n<code>/resume Senior Backend Engineer at Acme Corp. Looking for 5+ years Python, Kubernetes, ML background...</code>\n\nOr paste the full JD text directly (200+ chars, no command needed).",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "id": "resume-ask-jd",
      "name": "Resume Ask JD",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1100,
        940
      ],
      "credentials": {
        "telegramApi": {
          "id": "61YafmlNQxmiGwcT",
          "name": "Mitra Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "\u2699\ufe0f <b>Generating your resume...</b>\n\nThis takes ~30 seconds:\n\u2022 Analyzing job description\n\u2022 Optimizing with Claude AI\n\u2022 Compiling PDF with LaTeX\n\nStand by!",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "id": "resume-send-ack",
      "name": "Resume Send Ack",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1100,
        1180
      ],
      "credentials": {
        "telegramApi": {
          "id": "61YafmlNQxmiGwcT",
          "name": "Mitra Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-resume",
              "name": "defaultResume",
              "value": "Name: Vishal M\nEmail: vishal.maheshshivashankar@gmail.com\nRole: Senior Member Technical Team | Perfios Software Pvt Ltd | 4 Years\nLocation: Bengaluru, Karnataka, India\n\nSUMMARY:\nSenior Software Engineer with 4 years of deep expertise in backend systems, ML infrastructure, and LLM integration at Perfios. Specializes in scalable microservices (Python, Celery, Kubernetes), MLOps automation, and AI-powered document processing. Delivered measurable impact: 35-60% infrastructure cost reductions, 99.9% uptime on 30K+ daily requests, and deployment cycles cut from days to hours.\n\nEDUCATION:\n- BE in Computer Science\n- PUC in PCME\n- SSLC\n\nCERTIFICATIONS:\n- AWS Cloud Practitioner\n\nSKILLS:\nLanguages: Python\nQueuing/Messaging: Celery, Redis, Kafka\nCloud: GCP, AWS (ECS, S3, Lambda), Vertex AI\nOrchestration: Kubernetes, Docker\nData Engineering: Apache Airflow, Dagster\nML/AI: MLflow, LLM Prompt Engineering, LLM Executor\nSearch: Elasticsearch, OpenSearch, Logstash, Fluentbit\nFrontend: React 18\nDevOps: GitLab CI/CD, Prometheus, Grafana, ELK Stack\nDatabases: MongoDB, PostgreSQL, DynamoDB, Redis\n\nEXPERIENCE:\n\nSenior Member Technical Team | Perfios Software Pvt Ltd | Apr 2025 - Present\n- Led enterprise MLOps platform development automating end-to-end ML lifecycle; reduced model training time from weeks to days\n- Architected LLM Prompt Service with multi-backend storage (MongoDB, PostgreSQL, Redis, DynamoDB), versioning, and environment labeling\n- Built LLM Executor Service consolidating 15+ ML containers into unified system; cut infrastructure costs by 60%\n- Designed Elasticsearch-based deduplication system reducing duplicate transaction processing by 20%\n- Developed Search APIs serving 100K+ daily queries with sub-second response time\n\nSoftware Development Engineer | Perfios Software Pvt Ltd | Aug 2022 - Mar 2025\n- Architected ML Executor Service running 20+ models on Kubernetes; handled 30K+ daily requests at 99.9% uptime\n- Designed enterprise DataLake (Airflow + Dagster) managing 50TB+ structured data for analytics and ML training\n- Reduced duplicate processing by 40% via checksum-based deduplication; migrated AWS ECS to Kubernetes saving 35% in ops costs\n- Built TAT analysis, ML vs GT comparison, and document quality metrics tracking system\n- Created automated data curation pipelines producing high-quality ML training datasets\n\nSDE Intern | Perfios Software Solutions Pvt Ltd | Feb 2022 - Jun 2022\n- Trained ML models in Google Vertex AI for KYC document classification and field extraction\n- Built serverless deployment platform on AWS Lambda with auto-scaling; implemented GitLab CI/CD pipelines\n- Achieved 3x inference speedup through model quantization and batching\n\nKEY PROJECTS:\n1. ML Executor Service - Async inference (Celery, Redis, Kafka); 20+ models, 30K+ daily requests, 99.9% uptime, 35% cost reduction\n2. DataLake - Airflow + Dagster; 50TB+ data, 40% deduplication reduction, 10x faster metadata search\n3. Search & Deduplication - 100K+ daily documents, sub-second queries, $50K+ annual savings\n4. MLOps Platform - MLflow-powered; 50+ model versions tracked, training time cut from weeks to days\n5. LLM Prompt Store - Multi-backend (MongoDB, PostgreSQL, Redis, DynamoDB); React 18 UI; 90% latency reduction via Redis caching\n6. LLM Executor Service - Consolidated 15+ containers; 60% infra cost reduction; deployment: days to hours\n7. Translation Service - Google Cloud Translation + Redis caching; 70% API cost reduction\n\nPERSONAL PROJECTS:\n- ORBIT Finance Manager: Telegram bot + Gmail API + Gemini AI; 98% transaction accuracy; natural language finance queries\n- Mitra: Self-hosted n8n bot for daily health tracking (food/water/calories) + AI resume generation via Claude + LaTeX",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "resume-default-data",
      "name": "Default Resume Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        1180
      ]
    },
    {
      "parameters": {
        "jsCode": "const jobDescription = $('Parse Resume').item.json.jobDescription;\nconst chatId = $('Parse Resume').item.json.chatId;\nconst resumeText = $json.defaultResume;\n\nconst systemPrompt = `You are an elite resume writer and ATS optimization specialist.\nYour job: produce a LaTeX resume that maximally matches the job description and passes ATS screening.\n\n## OPTIMIZATION STEPS\n1. Extract all required/preferred skills, tools, cloud services, and keywords from the JD\n2. Mirror those EXACT keywords in the resume (ATS keyword matching)\n3. Reorder experience bullets - most JD-relevant achievements come first\n4. Every bullet must have a quantified metric (%, $, x faster, # requests, # users)\n5. Use strong action verbs: Architected, Engineered, Spearheaded, Automated, Reduced, Scaled\n6. Remove irrelevant content; add context that reinforces JD requirements\n\n## LATEX RULES\n- Use ONLY these packages: geometry, hyperref, enumitem, titlesec, parskip, fontenc, inputenc, array, booktabs\n- DO NOT use: fontawesome, fontawesome5, moderncv, tikz\n- Clean single-column layout (ATS-friendly)\n- Font size: 10pt or 11pt, margins: 0.65in-0.75in\n- Section headers: bold with horizontal rule\n- Bullet points: tight spacing with enumitem\n- Hyperlinked email\n- Target: 1 page\n\n## OUTPUT FORMAT\nReturn ONLY valid compilable LaTeX. Start with documentclass, end with end{document}. No markdown, no fences.`;\n\nconst userPrompt = `Optimize and rewrite this resume for the job description below.\\n\\n=== JOB DESCRIPTION ===\\n${jobDescription}\\n\\n=== CANDIDATE RESUME ===\\n${resumeText}\\n\\nReturn ONLY LaTeX code.`;\n\nconst claudeBody = {\n  model: 'claude-sonnet-4-6',\n  max_tokens: 4096,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userPrompt }]\n};\n\nreturn [{ json: { chatId, jobDescription, claudeBody, startTime: Date.now() } }];"
      },
      "id": "resume-build-prompt",
      "name": "Resume Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        1180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.claudeBody }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "resume-claude-api",
      "name": "Resume Claude AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        1180
      ]
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.item.json;\nconst promptData = $('Resume Build Prompt').item.json;\n\nlet latexCode = '';\nif (claudeResponse.content && Array.isArray(claudeResponse.content)) {\n  for (const block of claudeResponse.content) {\n    if (block.type === 'text' && block.text) {\n      latexCode = block.text;\n      break;\n    }\n  }\n}\n\nif (!latexCode) {\n  throw new Error('Claude returned empty response: ' + JSON.stringify(claudeResponse).substring(0, 200));\n}\n\nlatexCode = latexCode\n  .replace(/^```(?:latex|tex|\\s*)?\\n?/i, '')\n  .replace(/\\n?```\\s*$/i, '')\n  .trim();\n\nif (!latexCode.includes('\\\\documentclass')) {\n  throw new Error('Invalid LaTeX from Claude: ' + latexCode.substring(0, 200));\n}\n\nif (!latexCode.includes('\\\\end{document}')) {\n  latexCode += '\\n\\\\end{document}';\n}\n\nconst model = claudeResponse.model || 'claude-sonnet-4-6';\nconst inputTokens = claudeResponse.usage?.input_tokens || 0;\nconst outputTokens = claudeResponse.usage?.output_tokens || 0;\nconst elapsed = Math.round((Date.now() - (promptData.startTime || Date.now())) / 1000);\n\nreturn [{ json: { latexCode, chatId: promptData.chatId, model, inputTokens, outputTokens, elapsedSec: elapsed, lineCount: latexCode.split('\\n').length } }];"
      },
      "id": "resume-extract-latex",
      "name": "Resume Extract LaTeX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        1180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LATEX_COMPILER_URL }}/compile",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"source\": {{ JSON.stringify($json.latexCode) }}, \"filename\": \"resume\"}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 90000
        }
      },
      "id": "resume-compile-pdf",
      "name": "Resume Compile PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        1180
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendDocument",
        "chatId": "={{ $('Resume Extract LaTeX').item.json.chatId }}",
        "binaryData": true,
        "binaryPropertyName": "data",
        "additionalFields": {
          "caption": "={{ '\u2705 Resume ready! (' + $('Resume Extract LaTeX').item.json.elapsedSec + 's \u00b7 ' + $('Resume Extract LaTeX').item.json.inputTokens + ' in / ' + $('Resume Extract LaTeX').item.json.outputTokens + ' out tokens)' }}",
          "appendAttribution": false
        }
      },
      "id": "resume-send-pdf",
      "name": "Resume Send PDF",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2420,
        1180
      ],
      "credentials": {
        "telegramApi": {
          "id": "61YafmlNQxmiGwcT",
          "name": "Mitra Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "w1",
              "leftValue": "={{ $json.message.text || '' }}",
              "rightValue": "/weight",
              "operator": {
                "type": "string",
                "operation": "startsWith",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "weight-check",
      "name": "Weight Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        1060
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ai-resume-telegram-001",
          "mode": "id"
        },
        "options": {}
      },
      "id": "call-resume-builder",
      "name": "Call Resume Builder",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        660,
        900
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mitra-weight-tracker-001",
          "mode": "id"
        },
        "options": {}
      },
      "id": "call-weight-tracker",
      "name": "Call Weight Tracker",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        880,
        1060
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-meals",
      "name": "Merge Meals Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1320,
        180
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Water Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Photo File": {
      "main": [
        [
          {
            "node": "Download Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Photo": {
      "main": [
        [
          {
            "node": "Upload to Gemini Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Gemini Files": {
      "main": [
        [
          {
            "node": "Encode Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encode Photo": {
      "main": [
        [
          {
            "node": "Gemini Food Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Food Analysis": {
      "main": [
        [
          {
            "node": "Parse Nutrition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Nutrition": {
      "main": [
        [
          {
            "node": "Send Calorie Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Meal to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Water Command": {
      "main": [
        [
          {
            "node": "Save Water to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Water to Sheets": {
      "main": [
        [
          {
            "node": "Read Today Water",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Today Water": {
      "main": [
        [
          {
            "node": "Format Water Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Water Reply": {
      "main": [
        [
          {
            "node": "Send Water Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Meals Today": {
      "main": [
        [
          {
            "node": "Merge Meals Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build Daily Summary": {
      "main": [
        [
          {
            "node": "Send Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Text Food Request": {
      "main": [
        [
          {
            "node": "Gemini Food Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Water Router": {
      "main": [
        [
          {
            "node": "Read Water Only",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Water Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Water Only": {
      "main": [
        [
          {
            "node": "Build Water Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Water Summary": {
      "main": [
        [
          {
            "node": "Send Water Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Water Check": {
      "main": [
        [
          {
            "node": "Water Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Food Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Food Check": {
      "main": [
        [
          {
            "node": "Photo Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Help Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Help Check": {
      "main": [
        [
          {
            "node": "Send Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resume Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Photo Check": {
      "main": [
        [
          {
            "node": "Get Photo File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summary Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Check": {
      "main": [
        [
          {
            "node": "Read Meals Today",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Meals Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Text Food Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Check": {
      "main": [
        [
          {
            "node": "Call Resume Builder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Weight Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Resume": {
      "main": [
        [
          {
            "node": "Resume Needs JD?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Needs JD?": {
      "main": [
        [
          {
            "node": "Resume Ask JD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resume Send Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Send Ack": {
      "main": [
        [
          {
            "node": "Default Resume Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Resume Data": {
      "main": [
        [
          {
            "node": "Resume Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Build Prompt": {
      "main": [
        [
          {
            "node": "Resume Claude AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Claude AI": {
      "main": [
        [
          {
            "node": "Resume Extract LaTeX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Extract LaTeX": {
      "main": [
        [
          {
            "node": "Resume Compile PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Compile PDF": {
      "main": [
        [
          {
            "node": "Resume Send PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weight Check": {
      "main": [
        [
          {
            "node": "Call Weight Tracker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Meals Data": {
      "main": [
        [
          {
            "node": "Build Daily Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "mitra"
    }
  ],
  "active": false,
  "id": "ZtcJqCpmHPCYNd1U"
}