workflows/00-router-agent.json
{
  "name": "00 - Mitra Router Agent",
  "nodes": [
    {
      "parameters": {
        "updates": ["message", "callback_query"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [220, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Mitra Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "photo",
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": { "type": "exists", "operation": "exists" }
                  }
                ]
              }
            },
            {
              "outputKey": "document",
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.document }}",
                    "rightValue": "",
                    "operator": { "type": "exists", "operation": "exists" }
                  }
                ]
              }
            },
            {
              "outputKey": "text",
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": { "type": "exists", "operation": "exists" }
                  }
                ]
              }
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "message-switch",
      "name": "Message Type Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [440, 300]
    },
    {
      "parameters": {
        "agent": "toolsAgent",
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are Mitra, an intelligent personal AI assistant. You help with:\n\n1. **Email Management** - Check emails, detect threats, summarize important messages\n2. **Calendar** - Create events, check schedule, set reminders\n3. **Documents** - Find and organize documents from Gmail/Drive\n4. **Budget** - Track spending against budget categories (Loan: ₹40K, Savings: ₹10K, Insurances: ₹10K, MF SIP: ₹5K, Stocks: ₹5K, Home: ₹5K, Bills: ₹10K, Other: ₹5K)\n5. **Finance** - Analyze transactions, spending patterns, savings advice\n6. **Health** - Monitor heart rate, water intake, sleep from Apple Watch\n7. **Calories** - Track meals via food photos, sugar and macro analysis\n8. **Todos** - Manage daily tasks, priorities, completion tracking\n9. **Fitness** - Running/workout analysis, recovery, protein/calorie recommendations\n10. **Motivation** - Daily encouragement, progress reviews, goal tracking\n\nRules:\n- Be concise and helpful\n- Use relevant emojis sparingly for visual clarity\n- Always respond in the context of the user's question\n- For financial data, show amounts in ₹ (INR)\n- For health/fitness, use metric units\n- Route to the appropriate tool based on the user's intent\n- If unclear, ask a clarifying question\n- Current timezone: Asia/Kolkata\n- User name: Vishal",
          "maxIterations": 10
        }
      },
      "id": "ai-agent",
      "name": "Mitra AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [720, 200]
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "options": {
          "temperature": 0.7,
          "maxOutputTokens": 4096
        }
      },
      "id": "gemini-model",
      "name": "Gemini 2.5 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [720, 440],
      "credentials": {
        "googleGeminiApi": {
          "id": "gemini-api",
          "name": "Gemini API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "id": "memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [880, 440]
    },
    {
      "parameters": {
        "name": "email_tool",
        "description": "Use this tool for anything related to emails - checking inbox, searching emails, detecting spam or phishing, email summaries. Handles both Gmail accounts.",
        "workflowId": "={{ $workflow.id }}",
        "responsePropertyName": "response",
        "fields": {
          "values": [
            { "name": "query", "description": "The user's email-related query", "type": "string" }
          ]
        }
      },
      "id": "tool-email",
      "name": "Email Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [560, 560]
    },
    {
      "parameters": {
        "name": "calendar_tool",
        "description": "Use this tool for calendar management - creating events, checking schedule, finding free slots, setting reminders.",
        "workflowId": "={{ $workflow.id }}",
        "responsePropertyName": "response",
        "fields": {
          "values": [
            { "name": "query", "description": "The user's calendar-related query", "type": "string" }
          ]
        }
      },
      "id": "tool-calendar",
      "name": "Calendar Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [660, 560]
    },
    {
      "parameters": {
        "name": "document_tool",
        "description": "Use this tool for document search and organization - finding documents in Gmail/Drive, organizing files into folders (kyc, insurance, financial, medical, etc).",
        "workflowId": "={{ $workflow.id }}",
        "responsePropertyName": "response",
        "fields": {
          "values": [
            { "name": "query", "description": "The user's document-related query", "type": "string" }
          ]
        }
      },
      "id": "tool-document",
      "name": "Document Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [760, 560]
    },
    {
      "parameters": {
        "name": "budget_tool",
        "description": "Use this tool for budget queries - checking spending vs budget, category-wise analysis, budget alerts, remaining budget.",
        "workflowId": "={{ $workflow.id }}",
        "responsePropertyName": "response",
        "fields": {
          "values": [
            { "name": "query", "description": "The user's budget-related query", "type": "string" }
          ]
        }
      },
      "id": "tool-budget",
      "name": "Budget Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [860, 560]
    },
    {
      "parameters": {
        "name": "finance_tool",
        "description": "Use this tool for finance analysis - transaction history, spending patterns, savings advice, credit card analysis, month-over-month comparison.",
        "workflowId": "={{ $workflow.id }}",
        "responsePropertyName": "response",
        "fields": {
          "values": [
            { "name": "query", "description": "The user's finance-related query", "type": "string" }
          ]
        }
      },
      "id": "tool-finance",
      "name": "Finance Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [960, 560]
    },
    {
      "parameters": {
        "name": "health_tool",
        "description": "Use this tool for health data queries - heart rate, water intake, sleep, steps, blood oxygen, daily health summary from Apple Watch.",
        "workflowId": "={{ $workflow.id }}",
        "responsePropertyName": "response",
        "fields": {
          "values": [
            { "name": "query", "description": "The user's health-related query", "type": "string" }
          ]
        }
      },
      "id": "tool-health",
      "name": "Health Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [560, 660]
    },
    {
      "parameters": {
        "name": "todo_tool",
        "description": "Use this tool for task management - adding todos, marking complete, listing pending tasks, setting priorities, daily task summary.",
        "workflowId": "={{ $workflow.id }}",
        "responsePropertyName": "response",
        "fields": {
          "values": [
            { "name": "query", "description": "The user's todo-related query", "type": "string" }
          ]
        }
      },
      "id": "tool-todo",
      "name": "Todo Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [660, 660]
    },
    {
      "parameters": {
        "name": "fitness_tool",
        "description": "Use this tool for fitness tracking - running stats, workout analysis, recovery status, calorie/protein intake suggestions after workouts.",
        "workflowId": "={{ $workflow.id }}",
        "responsePropertyName": "response",
        "fields": {
          "values": [
            { "name": "query", "description": "The user's fitness-related query", "type": "string" }
          ]
        }
      },
      "id": "tool-fitness",
      "name": "Fitness Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [760, 660]
    },
    {
      "parameters": {
        "name": "motivation_tool",
        "description": "Use this tool for motivation and progress tracking - daily motivation, weekly/monthly reviews, goal progress, self-improvement suggestions.",
        "workflowId": "={{ $workflow.id }}",
        "responsePropertyName": "response",
        "fields": {
          "values": [
            { "name": "query", "description": "The user's motivation/progress query", "type": "string" }
          ]
        }
      },
      "id": "tool-motivation",
      "name": "Motivation Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [860, 660]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1100, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Mitra Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "📸 Analyzing your food photo for calories...",
        "additionalFields": {}
      },
      "id": "photo-ack",
      "name": "Photo Acknowledgement",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, 60],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Mitra Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id }}",
        "options": {}
      },
      "id": "calorie-subworkflow",
      "name": "Run Calorie Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [880, 60]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "📄 Processing your document...",
        "additionalFields": {}
      },
      "id": "doc-ack",
      "name": "Document Acknowledgement",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, -80],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Mitra Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id }}",
        "options": {}
      },
      "id": "doc-subworkflow",
      "name": "Run Document Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [880, -80]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-welcome",
              "name": "output",
              "value": "👋 Welcome to *Mitra AI*!\n\nI'm your personal AI assistant. Here's what I can help with:\n\n📧 /email - Check & manage emails\n📅 /calendar - Calendar & scheduling\n📁 /docs - Document search & organization\n💰 /budget - Budget tracking & alerts\n💳 /finance - Financial analysis\n❤️ /health - Health monitoring\n🍽️ /calories - Calorie tracking (send food photo!)\n✅ /todo - Task management\n🏃 /fitness - Workout & fitness tracking\n🌟 /motivation - Daily motivation & progress\n\nJust type naturally or send a food photo!",
              "type": "string"
            }
          ]
        }
      },
      "id": "welcome-msg",
      "name": "Welcome Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, -200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-start",
      "name": "Is /start?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [540, 200]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [{ "node": "Message Type Router", "type": "main", "index": 0 }]
      ]
    },
    "Message Type Router": {
      "main": [
        [{ "node": "Photo Acknowledgement", "type": "main", "index": 0 }],
        [{ "node": "Document Acknowledgement", "type": "main", "index": 0 }],
        [{ "node": "Is /start?", "type": "main", "index": 0 }]
      ]
    },
    "Is /start?": {
      "main": [
        [{ "node": "Welcome Message", "type": "main", "index": 0 }],
        [{ "node": "Mitra AI Agent", "type": "main", "index": 0 }]
      ]
    },
    "Welcome Message": {
      "main": [
        [{ "node": "Send Response", "type": "main", "index": 0 }]
      ]
    },
    "Mitra AI Agent": {
      "main": [
        [{ "node": "Send Response", "type": "main", "index": 0 }]
      ]
    },
    "Photo Acknowledgement": {
      "main": [
        [{ "node": "Run Calorie Agent", "type": "main", "index": 0 }]
      ]
    },
    "Document Acknowledgement": {
      "main": [
        [{ "node": "Run Document Agent", "type": "main", "index": 0 }]
      ]
    },
    "Gemini 2.5 Flash": {
      "ai_languageModel": [
        [{ "node": "Mitra AI Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [{ "node": "Mitra AI Agent", "type": "ai_memory", "index": 0 }]
      ]
    },
    "Email Tool": {
      "ai_tool": [
        [{ "node": "Mitra AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Calendar Tool": {
      "ai_tool": [
        [{ "node": "Mitra AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Document Tool": {
      "ai_tool": [
        [{ "node": "Mitra AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Budget Tool": {
      "ai_tool": [
        [{ "node": "Mitra AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Finance Tool": {
      "ai_tool": [
        [{ "node": "Mitra AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Health Tool": {
      "ai_tool": [
        [{ "node": "Mitra AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Todo Tool": {
      "ai_tool": [
        [{ "node": "Mitra AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Fitness Tool": {
      "ai_tool": [
        [{ "node": "Mitra AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Motivation Tool": {
      "ai_tool": [
        [{ "node": "Mitra AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [{ "name": "mitra-core" }],
  "triggerCount": 1,
  "active": false
}
