workflows/01-email-agent.json
{
  "name": "01 - Email Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 20,
        "filters": {
          "q": "is:unread -category:promotions -category:social",
          "labelIds": ["INBOX"]
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_"
        }
      },
      "id": "gmail-account1",
      "name": "Gmail Account 1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [440, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth-1",
          "name": "Gmail - vishal.maheshshivashankar"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 20,
        "filters": {
          "q": "is:unread -category:promotions -category:social",
          "labelIds": ["INBOX"]
        },
        "options": {}
      },
      "id": "gmail-account2",
      "name": "Gmail Account 2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [440, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth-2",
          "name": "Gmail - vishalre411"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {},
        "options": {}
      },
      "id": "merge-emails",
      "name": "Merge Emails",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [660, 300]
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "options": {
          "temperature": 0.3,
          "maxOutputTokens": 2048
        },
        "messages": {
          "values": [
            {
              "content": "Analyze these emails and provide a summary. For each email, classify:\n- Priority: high/medium/low\n- Category: finance/personal/work/spam/malicious\n- Malicious indicators: Check for phishing links, suspicious senders, urgency tactics, unusual attachments\n\nIf any email is malicious, start your response with '⚠️ SECURITY ALERT' and explain the threat.\n\nEmails:\n{{ $json }}\n\nProvide a concise summary focusing on important emails first."
            }
          ]
        }
      },
      "id": "email-classifier",
      "name": "AI Email Classifier",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [880, 300],
      "credentials": {
        "googleGeminiApi": {
          "id": "gemini-api",
          "name": "Gemini API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-response",
              "name": "response",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "When Called By Another Workflow": {
      "main": [
        [
          { "node": "Gmail Account 1", "type": "main", "index": 0 },
          { "node": "Gmail Account 2", "type": "main", "index": 0 }
        ]
      ]
    },
    "Gmail Account 1": {
      "main": [
        [{ "node": "Merge Emails", "type": "main", "index": 0 }]
      ]
    },
    "Gmail Account 2": {
      "main": [
        [{ "node": "Merge Emails", "type": "main", "index": 1 }]
      ]
    },
    "Merge Emails": {
      "main": [
        [{ "node": "AI Email Classifier", "type": "main", "index": 0 }]
      ]
    },
    "AI Email Classifier": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "mitra-agent" }],
  "active": false
}
