workflows/03-document-agent.json
{
  "name": "03 - Document Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "agent": "toolsAgent",
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are Mitra's Document Agent. You search and organize documents across Gmail and Google Drive.\n\nDocument Organization Rules:\n- KYC documents → kyc/{person_name}/{document_type}/\n  Examples: kyc/vishal/aadhaar/, kyc/vishal/pan_card/\n- Insurance → insurance/{person_name}/{insurance_type}/\n  Examples: insurance/vishal/health/, insurance/vishal/term_life/\n- Financial → financial/{document_type}/{year}/\n  Examples: financial/bank_statement/2025/, financial/itr/2024/\n- Medical → medical/{person_name}/{report_type}/\n  Examples: medical/vishal/blood_test/, medical/vishal/prescription/\n- Legal → legal/{document_type}/\n- Education → education/{institution}/{document_type}/\n- Bills → bills/{category}/{year}/{month}/\n\nWorkflow:\n1. Search Gmail attachments matching the query\n2. Search Google Drive for existing files\n3. If found in Gmail but NOT in Drive:\n   - Download the attachment\n   - Create appropriate folder structure in Drive\n   - Upload to the correct folder\n   - Report what was organized\n4. Return search results with file locations\n\nAlways report:\n- Where documents were found (Gmail/Drive)\n- Full path of organized files\n- Any documents that couldn't be classified",
          "maxIterations": 8
        }
      },
      "id": "doc-agent",
      "name": "Document AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [480, 300]
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "options": { "temperature": 0.2 }
      },
      "id": "gemini",
      "name": "Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [400, 540],
      "credentials": {
        "googleGeminiApi": { "id": "gemini-api", "name": "Gemini API" }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 30,
        "filters": {
          "q": "has:attachment filename:(pdf OR doc OR docx OR jpg OR png OR xlsx)"
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_"
        }
      },
      "id": "gmail-search",
      "name": "Search Gmail Attachments",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [340, 640],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth-1",
          "name": "Gmail - vishal.maheshshivashankar"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "queryString": "={{ $json.query }}",
        "options": {
          "driveId": "myDrive"
        }
      },
      "id": "drive-search",
      "name": "Search Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [480, 640],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "folderId": "={{ $json.folderId }}",
        "name": "={{ $json.fileName }}",
        "options": {}
      },
      "id": "drive-upload",
      "name": "Upload to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [620, 640],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFolder",
        "name": "={{ $json.folderName }}",
        "options": {
          "folderIdParent": "={{ $json.parentFolderId }}"
        }
      },
      "id": "drive-create-folder",
      "name": "Create Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [540, 740],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-response",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [740, 300]
    }
  ],
  "connections": {
    "When Called By Another Workflow": {
      "main": [
        [{ "node": "Document AI Agent", "type": "main", "index": 0 }]
      ]
    },
    "Document AI Agent": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        [{ "node": "Document AI Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Search Gmail Attachments": {
      "ai_tool": [
        [{ "node": "Document AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Search Drive": {
      "ai_tool": [
        [{ "node": "Document AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Upload to Drive": {
      "ai_tool": [
        [{ "node": "Document AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Create Folder": {
      "ai_tool": [
        [{ "node": "Document AI Agent", "type": "ai_tool", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "mitra-agent" }],
  "active": false
}
