workflows/04-budget-agent.json
{
  "name": "04 - Budget Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.SPREADSHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Transactions" },
        "options": {}
      },
      "id": "read-transactions",
      "name": "Read Transactions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.SPREADSHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Budgets" },
        "options": {}
      },
      "id": "read-budgets",
      "name": "Read Budgets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {},
        "options": {}
      },
      "id": "merge-data",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [660, 300]
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "options": {
          "temperature": 0.3,
          "maxOutputTokens": 2048
        },
        "messages": {
          "values": [
            {
              "content": "You are Mitra's Budget Analyst. Analyze the following budget and transaction data.\n\nBudget Categories (Monthly in INR):\n- Loan: ₹40,000\n- Savings: ₹10,000\n- Insurances: ₹10,000\n- MF SIP: ₹5,000\n- Stocks: ₹5,000\n- Home: ₹5,000\n- Bills: ₹10,000\n- Other: ₹5,000\nTotal: ₹90,000\n\nUser query: {{ $('When Called By Another Workflow').first().json.query }}\n\nTransactions data:\n{{ $('Read Transactions').all().map(t => `${t.json.date} | ${t.json.category} | ₹${t.json.amount} | ${t.json.merchant}`).join('\\n') }}\n\nBudget limits:\n{{ $('Read Budgets').all().map(b => `${b.json.category}: ₹${b.json.monthly_limit} (warn at ${b.json.alert_threshold*100}%)`).join('\\n') }}\n\nProvide:\n1. Category-wise spending vs budget (table format)\n2. Remaining budget per category\n3. Alert flags (⚠️ >80%, 🔴 >100%)\n4. Projected month-end status\n5. Actionable savings advice\n\nFormat response for Telegram (Markdown)."
            }
          ]
        }
      },
      "id": "budget-analyzer",
      "name": "AI Budget Analysis",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [880, 300],
      "credentials": {
        "googleGeminiApi": { "id": "gemini-api", "name": "Gemini API" }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-response",
              "name": "response",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "When Called By Another Workflow": {
      "main": [
        [
          { "node": "Read Transactions", "type": "main", "index": 0 },
          { "node": "Read Budgets", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read Transactions": {
      "main": [
        [{ "node": "Merge Data", "type": "main", "index": 0 }]
      ]
    },
    "Read Budgets": {
      "main": [
        [{ "node": "Merge Data", "type": "main", "index": 1 }]
      ]
    },
    "Merge Data": {
      "main": [
        [{ "node": "AI Budget Analysis", "type": "main", "index": 0 }]
      ]
    },
    "AI Budget Analysis": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "mitra-agent" }],
  "active": false
}
