workflows/05-finance-agent.json
{
  "name": "05 - Finance Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.SPREADSHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Transactions" },
        "options": {}
      },
      "id": "read-transactions",
      "name": "Read Transactions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "options": {
          "temperature": 0.4,
          "maxOutputTokens": 4096
        },
        "messages": {
          "values": [
            {
              "content": "You are Mitra's Finance Analyst. You help with financial analysis, spending insights, and savings advice.\n\nUser query: {{ $('When Called By Another Workflow').first().json.query }}\n\nTransaction data:\n{{ $json }}\n\nAnalysis guidelines:\n1. Separate Credit Card spending from Bank/UPI transactions to avoid double-counting\n2. Identify CC bill payments (transfers, not expenses)\n3. Provide 4-section analysis when relevant:\n   a) Credit Card Expenditure (with category breakdown)\n   b) Bank/Savings Account (income + direct debits)\n   c) Credit Card Bills Paid (transfer tracking)\n   d) Total Overall (true spending = Bank debits + CC purchases - CC bill payments)\n\n4. For spending patterns:\n   - Top merchants by amount\n   - Day-of-week spending patterns\n   - Category trends over time\n   - Unusual or one-time expenses\n\n5. Savings recommendations:\n   - Identify reducible expenses\n   - Subscription optimization\n   - Better alternatives for recurring costs\n   - Investment suggestions based on surplus\n\nFormat for Telegram (Markdown). Use ₹ for amounts."
            }
          ]
        }
      },
      "id": "finance-analyzer",
      "name": "AI Finance Analysis",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [700, 300],
      "credentials": {
        "googleGeminiApi": { "id": "gemini-api", "name": "Gemini API" }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-response",
              "name": "response",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [940, 300]
    }
  ],
  "connections": {
    "When Called By Another Workflow": {
      "main": [
        [{ "node": "Read Transactions", "type": "main", "index": 0 }]
      ]
    },
    "Read Transactions": {
      "main": [
        [{ "node": "AI Finance Analysis", "type": "main", "index": 0 }]
      ]
    },
    "AI Finance Analysis": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "mitra-agent" }],
  "active": false
}
