workflows/07-calorie-agent.json
{
  "name": "07 - Calorie Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "fileId": "={{ $json.message.photo ? $json.message.photo[$json.message.photo.length - 1].file_id : '' }}"
      },
      "id": "get-photo",
      "name": "Get Photo File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [440, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Mitra Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.result.file_path ? 'https://api.telegram.org/file/bot' + $env.TELEGRAM_BOT_TOKEN + '/' + $json.result.file_path : '' }}",
        "options": {
          "response": { "response": { "responseFormat": "file" } }
        }
      },
      "id": "download-photo",
      "name": "Download Photo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "options": {
          "temperature": 0.3,
          "maxOutputTokens": 2048
        },
        "messages": {
          "values": [
            {
              "content": "Analyze this food image and provide detailed nutritional information.\n\nFor each food item visible in the image:\n1. Food name and estimated portion size\n2. Calories (kcal)\n3. Protein (g)\n4. Carbs (g)\n5. Fat (g)\n6. Sugar (g)\n7. Fiber (g)\n\nAlso provide:\n- Total meal summary\n- Meal type estimation (breakfast/lunch/dinner/snack)\n- Health rating (1-5 stars)\n- Sugar alert if high sugar content\n- Healthier alternatives if applicable\n\nRespond in this JSON format:\n{\n  \"meal_type\": \"lunch\",\n  \"items\": [\n    {\"name\": \"Dal Rice\", \"portion\": \"1 bowl\", \"calories\": 350, \"protein\": 12, \"carbs\": 55, \"fat\": 8, \"sugar\": 3, \"fiber\": 6}\n  ],\n  \"totals\": {\"calories\": 650, \"protein\": 22, \"carbs\": 85, \"fat\": 18, \"sugar\": 8, \"fiber\": 10},\n  \"health_rating\": 4,\n  \"notes\": \"Good balanced meal with adequate protein\"\n}"
            }
          ]
        }
      },
      "id": "food-analyzer",
      "name": "AI Food Analysis",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [860, 300],
      "credentials": {
        "googleGeminiApi": { "id": "gemini-api", "name": "Gemini API" }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json;\nlet parsed;\ntry {\n  const text = aiResponse.text || aiResponse.content || JSON.stringify(aiResponse);\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  parsed = jsonMatch ? JSON.parse(jsonMatch[0]) : { error: 'Could not parse' };\n} catch (e) {\n  parsed = { raw: aiResponse.text, error: e.message };\n}\n\nconst now = new Date();\nconst mealId = `meal_${now.getTime()}`;\n\n// Read daily totals from context or start fresh\nconst dailyCalories = parsed.totals?.calories || 0;\nconst dailyTarget = 2000;\nconst sugarToday = parsed.totals?.sugar || 0;\nconst sugarLimit = 30;\n\nlet alertMsg = '';\nif (sugarToday > sugarLimit * 0.8) {\n  alertMsg = `\\n⚠️ Sugar alert: ${sugarToday}g in this meal (daily limit: ${sugarLimit}g)`;\n}\n\nconst items = (parsed.items || []).map(i => `  ${i.name} (${i.portion}): ${i.calories} kcal`).join('\\n');\n\nconst response = `🍽️ *Meal Logged!*\\n\\n` +\n  `*Items:*\\n${items}\\n\\n` +\n  `*Totals:*\\n` +\n  `  Calories: ${parsed.totals?.calories || '?'} kcal\\n` +\n  `  Protein: ${parsed.totals?.protein || '?'}g\\n` +\n  `  Carbs: ${parsed.totals?.carbs || '?'}g\\n` +\n  `  Fat: ${parsed.totals?.fat || '?'}g\\n` +\n  `  Sugar: ${parsed.totals?.sugar || '?'}g\\n` +\n  `  Fiber: ${parsed.totals?.fiber || '?'}g\\n\\n` +\n  `Health Rating: ${'⭐'.repeat(parsed.health_rating || 3)}\\n` +\n  (parsed.notes ? `💡 ${parsed.notes}` : '') +\n  alertMsg;\n\nreturn [{\n  json: {\n    response,\n    meal_id: mealId,\n    date: now.toISOString().split('T')[0],\n    time: now.toTimeString().split(' ')[0],\n    meal_type: parsed.meal_type || 'unknown',\n    food_items: (parsed.items || []).map(i => i.name).join(', '),\n    calories: parsed.totals?.calories || 0,\n    protein_g: parsed.totals?.protein || 0,\n    carbs_g: parsed.totals?.carbs || 0,\n    fat_g: parsed.totals?.fat || 0,\n    sugar_g: parsed.totals?.sugar || 0,\n    fiber_g: parsed.totals?.fiber || 0,\n    image_url: ''\n  }\n}];"
      },
      "id": "parse-nutrition",
      "name": "Parse Nutrition Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.SPREADSHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Meals" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "meal_id": "={{ $json.meal_id }}",
            "date": "={{ $json.date }}",
            "time": "={{ $json.time }}",
            "meal_type": "={{ $json.meal_type }}",
            "food_items": "={{ $json.food_items }}",
            "calories": "={{ $json.calories }}",
            "protein_g": "={{ $json.protein_g }}",
            "carbs_g": "={{ $json.carbs_g }}",
            "fat_g": "={{ $json.fat_g }}",
            "sugar_g": "={{ $json.sugar_g }}",
            "fiber_g": "={{ $json.fiber_g }}",
            "image_url": "={{ $json.image_url }}"
          }
        },
        "options": {}
      },
      "id": "save-meal",
      "name": "Save to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1300, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('When Called By Another Workflow').first().json.message.chat.id }}",
        "text": "={{ $json.response }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-response",
      "name": "Send Calorie Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1300, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Mitra Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "When Called By Another Workflow": {
      "main": [
        [{ "node": "Get Photo File", "type": "main", "index": 0 }]
      ]
    },
    "Get Photo File": {
      "main": [
        [{ "node": "Download Photo", "type": "main", "index": 0 }]
      ]
    },
    "Download Photo": {
      "main": [
        [{ "node": "AI Food Analysis", "type": "main", "index": 0 }]
      ]
    },
    "AI Food Analysis": {
      "main": [
        [{ "node": "Parse Nutrition Data", "type": "main", "index": 0 }]
      ]
    },
    "Parse Nutrition Data": {
      "main": [
        [
          { "node": "Send Calorie Response", "type": "main", "index": 0 },
          { "node": "Save to Sheets", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "mitra-agent" }],
  "active": false
}
