workflows/10-motivation-agent.json
{
  "name": "10 - Motivation Agent",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.SPREADSHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Todos" },
        "options": {}
      },
      "id": "read-todos",
      "name": "Read Todos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 160],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "google-sheets", "name": "Google Sheets" }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.SPREADSHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Meals" },
        "options": {}
      },
      "id": "read-meals",
      "name": "Read Meals",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 300],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "google-sheets", "name": "Google Sheets" }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.SPREADSHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Workouts" },
        "options": {}
      },
      "id": "read-workouts",
      "name": "Read Workouts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 440],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "google-sheets", "name": "Google Sheets" }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.SPREADSHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Weekly_Summary" },
        "options": {}
      },
      "id": "read-weekly",
      "name": "Read Weekly Summaries",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 580],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "google-sheets", "name": "Google Sheets" }
      }
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "options": {
          "temperature": 0.8,
          "maxOutputTokens": 2048
        },
        "messages": {
          "values": [
            {
              "content": "You are Mitra's Motivation Coach. Provide personalized, data-driven motivation.\n\nUser query: {{ $('When Called By Another Workflow').first().json.query }}\n\nRecent Todos:\n{{ $('Read Todos').all().slice(-20).map(t => `${t.json.date} | ${t.json.task} | ${t.json.status} | ${t.json.priority}`).join('\\n') }}\n\nRecent Meals:\n{{ $('Read Meals').all().slice(-14).map(m => `${m.json.date} | ${m.json.calories}kcal | ${m.json.protein_g}g protein | ${m.json.sugar_g}g sugar`).join('\\n') }}\n\nRecent Workouts:\n{{ $('Read Workouts').all().slice(-10).map(w => `${w.json.date} | ${w.json.type} | ${w.json.duration_min}min | ${w.json.distance_km}km | ${w.json.calories}cal`).join('\\n') }}\n\nWeekly Summaries:\n{{ $('Read Weekly Summaries').all().slice(-4).map(s => `${s.json.week_start} | Spend:${s.json.total_spend} | Tasks:${s.json.todos_completed}/${s.json.todos_total} | Workouts:${s.json.workouts_count}`).join('\\n') }}\n\nMotivation Guidelines:\n\n1. **Daily Motivation** (if asked for motivation/morning message):\n   - Start with an inspiring quote or personal observation\n   - Highlight yesterday's wins (completed tasks, good meals, workouts)\n   - Set 3 focus areas for today\n   - End with an encouraging, personalized message\n\n2. **Weekly Review** (if asked for weekly/progress review):\n   - Week-over-week comparison across ALL domains:\n     * Tasks: completion rate trend\n     * Fitness: distance/frequency trend\n     * Nutrition: calorie/protein consistency\n     * Finance: budget adherence\n   - Top 3 wins of the week\n   - Top 2 areas for improvement\n   - Specific, actionable goals for next week\n\n3. **Monthly Review** (if asked for monthly review):\n   - Month-over-month trends\n   - Major achievements and milestones\n   - Patterns identified (positive and negative)\n   - Goal recalibration suggestions\n\n4. **Yearly Review** (if asked for yearly/annual review):\n   - Year-in-review across all life areas\n   - Biggest transformations\n   - Lessons learned\n   - Goals for next year\n\nTone: Supportive, data-driven, honest but encouraging. Like a friend who cares about your growth.\nFormat for Telegram with emojis. Keep it personal - use 'you' and reference specific data points."
            }
          ]
        }
      },
      "id": "motivation-generator",
      "name": "AI Motivation Generator",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [780, 300],
      "credentials": {
        "googleGeminiApi": { "id": "gemini-api", "name": "Gemini API" }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-response",
              "name": "response",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1020, 300]
    }
  ],
  "connections": {
    "When Called By Another Workflow": {
      "main": [
        [
          { "node": "Read Todos", "type": "main", "index": 0 },
          { "node": "Read Meals", "type": "main", "index": 0 },
          { "node": "Read Workouts", "type": "main", "index": 0 },
          { "node": "Read Weekly Summaries", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read Todos": {
      "main": [
        [{ "node": "AI Motivation Generator", "type": "main", "index": 0 }]
      ]
    },
    "Read Meals": {
      "main": [
        [{ "node": "AI Motivation Generator", "type": "main", "index": 0 }]
      ]
    },
    "Read Workouts": {
      "main": [
        [{ "node": "AI Motivation Generator", "type": "main", "index": 0 }]
      ]
    },
    "Read Weekly Summaries": {
      "main": [
        [{ "node": "AI Motivation Generator", "type": "main", "index": 0 }]
      ]
    },
    "AI Motivation Generator": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "mitra-agent" }],
  "active": false
}
