workflows/cron-health-alerts.json
{
  "name": "Cron - Health Alerts (Hourly Water + HR Monitor)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8-22 * * *" }]
        }
      },
      "id": "hourly-schedule",
      "name": "Hourly 8AM-10PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 200]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "hr-schedule",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 500]
    },
    {
      "parameters": {
        "url": "={{ $env.HEALTH_BRIDGE_URL || 'http://health-bridge:8085' }}/health/water",
        "options": { "timeout": 10000 }
      },
      "id": "get-water",
      "name": "Get Water Intake",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 200]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst glasses = data.glasses || 0;\nconst target = 8;\nconst remaining = target - glasses;\nconst hour = new Date().getHours();\nconst hoursLeft = 22 - hour;\n\nlet shouldAlert = false;\nlet msg = '';\n\n// Alert if behind schedule\nconst expectedByNow = Math.floor((hour - 8) / (14 / target));\nif (glasses < expectedByNow) {\n  shouldAlert = true;\n  msg = `\\ud83d\\udca7 *Water Reminder*\\n\\n`;\n  msg += `You've had ${glasses}/${target} glasses today.\\n`;\n  msg += `${remaining} more to go in ${hoursLeft} hours.\\n\\n`;\n  if (glasses === 0) msg += `Time to start hydrating! Your body needs it.`;\n  else if (glasses < 3) msg += `You're behind schedule. Try to catch up!`;\n  else if (glasses < 6) msg += `Good progress! Keep sipping throughout the day.`;\n  else msg += `Almost there! Just ${remaining} more glasses!`;\n}\n\nreturn [{ json: { shouldAlert, message: msg, glasses, target } }];"
      },
      "id": "check-water",
      "name": "Check Water Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 200]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.shouldAlert }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      },
      "id": "should-alert-water",
      "name": "Should Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "send-water-alert",
      "name": "Send Water Reminder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1100, 160],
      "credentials": {
        "telegramApi": { "id": "telegram-bot", "name": "Mitra Telegram Bot" }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.HEALTH_BRIDGE_URL || 'http://health-bridge:8085' }}/health/heart-rate",
        "options": { "timeout": 10000 }
      },
      "id": "get-hr",
      "name": "Get Heart Rate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 500]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst hr = data.current || data.heart_rate || 0;\nconst restingHr = data.resting || data.resting_hr || 0;\n\nlet shouldAlert = false;\nlet msg = '';\n\nif (hr > 100 && restingHr > 0) {\n  shouldAlert = true;\n  msg = `\\u2764\\ufe0f\\u200d\\ud83e\\ude79 *Heart Rate Alert*\\n\\nYour heart rate is elevated: *${hr} bpm*\\nResting HR: ${restingHr} bpm\\n\\nConsider:\\n- Take a few deep breaths\\n- Sit down and relax\\n- Drink water\\n\\nIf this persists, consult a doctor.`;\n} else if (hr > 0 && hr < 45) {\n  shouldAlert = true;\n  msg = `\\u2764\\ufe0f *Heart Rate Alert*\\n\\nYour heart rate is unusually low: *${hr} bpm*\\n\\nIf you feel dizzy or faint, seek medical attention.`;\n}\n\n// Log to sheets regardless\nreturn [{ json: { shouldAlert, message: msg, heart_rate: hr, resting_hr: restingHr, timestamp: new Date().toISOString() } }];"
      },
      "id": "check-hr",
      "name": "Check Heart Rate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 500]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.shouldAlert }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      },
      "id": "should-alert-hr",
      "name": "HR Alert Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 500]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "send-hr-alert",
      "name": "Send HR Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1100, 460],
      "credentials": {
        "telegramApi": { "id": "telegram-bot", "name": "Mitra Telegram Bot" }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.SPREADSHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Health" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ new Date().toISOString().split('T')[0] }}",
            "time": "={{ new Date().toTimeString().split(' ')[0] }}",
            "heart_rate": "={{ $json.heart_rate }}",
            "resting_hr": "={{ $json.resting_hr }}"
          }
        },
        "options": {}
      },
      "id": "log-hr",
      "name": "Log HR to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1100, 580],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "google-sheets", "name": "Google Sheets" }
      }
    }
  ],
  "connections": {
    "Hourly 8AM-10PM": {
      "main": [
        [{ "node": "Get Water Intake", "type": "main", "index": 0 }]
      ]
    },
    "Every 15 Minutes": {
      "main": [
        [{ "node": "Get Heart Rate", "type": "main", "index": 0 }]
      ]
    },
    "Get Water Intake": {
      "main": [
        [{ "node": "Check Water Status", "type": "main", "index": 0 }]
      ]
    },
    "Check Water Status": {
      "main": [
        [{ "node": "Should Alert?", "type": "main", "index": 0 }]
      ]
    },
    "Should Alert?": {
      "main": [
        [{ "node": "Send Water Reminder", "type": "main", "index": 0 }],
        []
      ]
    },
    "Get Heart Rate": {
      "main": [
        [{ "node": "Check Heart Rate", "type": "main", "index": 0 }]
      ]
    },
    "Check Heart Rate": {
      "main": [
        [{ "node": "HR Alert Needed?", "type": "main", "index": 0 }]
      ]
    },
    "HR Alert Needed?": {
      "main": [
        [{ "node": "Send HR Alert", "type": "main", "index": 0 }],
        [{ "node": "Log HR to Sheets", "type": "main", "index": 0 }]
      ]
    },
    "Send HR Alert": {
      "main": [
        [{ "node": "Log HR to Sheets", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "mitra-cron" }],
  "active": false
}
