workflows/cron-budget-alerts.json
{
  "name": "Cron - Budget Alerts (Daily 9PM)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 21 * * *" }]
        }
      },
      "id": "schedule",
      "name": "Daily 9PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.SPREADSHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Transactions" },
        "options": {}
      },
      "id": "read-txns",
      "name": "Read Transactions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 200],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "google-sheets", "name": "Google Sheets" }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.SPREADSHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Budgets" },
        "options": {}
      },
      "id": "read-budgets",
      "name": "Read Budgets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 400],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "google-sheets", "name": "Google Sheets" }
      }
    },
    {
      "parameters": {
        "jsCode": "const txns = $('Read Transactions').all().map(t => t.json);\nconst budgets = $('Read Budgets').all().map(b => b.json);\n\nconst now = new Date();\nconst currentMonth = now.getMonth();\nconst currentYear = now.getFullYear();\n\n// Filter current month transactions\nconst monthTxns = txns.filter(t => {\n  if (!t.date) return false;\n  const d = new Date(t.date);\n  return d.getMonth() === currentMonth && d.getFullYear() === currentYear && t.type === 'debit';\n});\n\n// Calculate spend per category\nconst spendByCategory = {};\nmonthTxns.forEach(t => {\n  const cat = (t.category || 'other').toLowerCase();\n  spendByCategory[cat] = (spendByCategory[cat] || 0) + parseFloat(t.amount || 0);\n});\n\n// Compare vs budgets\nconst alerts = [];\nconst summary = [];\nlet totalSpend = 0;\nlet totalBudget = 0;\n\nbudgets.forEach(b => {\n  const cat = b.category.toLowerCase();\n  const limit = parseFloat(b.monthly_limit || 0);\n  const spent = spendByCategory[cat] || 0;\n  const pct = limit > 0 ? (spent / limit * 100) : 0;\n  totalSpend += spent;\n  totalBudget += limit;\n\n  let icon = '\\u2705'; // green check\n  if (pct >= 100) icon = '\\ud83d\\udd34'; // red\n  else if (pct >= 80) icon = '\\u26a0\\ufe0f'; // warning\n\n  summary.push(`${icon} ${b.category}: \\u20b9${spent.toLocaleString()} / \\u20b9${limit.toLocaleString()} (${pct.toFixed(0)}%)`);\n\n  if (pct >= 100) {\n    alerts.push(`\\ud83d\\udd34 OVERSPENT: ${b.category} at ${pct.toFixed(0)}% (\\u20b9${(spent - limit).toLocaleString()} over)`);\n  } else if (pct >= 80) {\n    alerts.push(`\\u26a0\\ufe0f WARNING: ${b.category} at ${pct.toFixed(0)}% (\\u20b9${(limit - spent).toLocaleString()} remaining)`);\n  }\n});\n\nconst daysInMonth = new Date(currentYear, currentMonth + 1, 0).getDate();\nconst dayOfMonth = now.getDate();\nconst projectedSpend = totalSpend / dayOfMonth * daysInMonth;\n\nlet msg = `\\ud83d\\udcb0 *Daily Budget Report*\\n`;\nmsg += `\\ud83d\\udcc5 ${now.toLocaleDateString('en-IN', { day: 'numeric', month: 'long', year: 'numeric' })}\\n\\n`;\n\nif (alerts.length > 0) {\n  msg += `*\\u26a0\\ufe0f Alerts:*\\n${alerts.join('\\n')}\\n\\n`;\n}\n\nmsg += `*Category Breakdown:*\\n${summary.join('\\n')}\\n\\n`;\nmsg += `*Total:* \\u20b9${totalSpend.toLocaleString()} / \\u20b9${totalBudget.toLocaleString()}\\n`;\nmsg += `*Projected Month-End:* \\u20b9${projectedSpend.toLocaleString('en-IN', {maximumFractionDigits: 0})}\\n`;\nmsg += `*Day ${dayOfMonth} of ${daysInMonth}*`;\n\nreturn [{ json: { message: msg, has_alerts: alerts.length > 0 } }];"
      },
      "id": "calc-budget",
      "name": "Calculate Budget Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "send-alert",
      "name": "Send Budget Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [940, 300],
      "credentials": {
        "telegramApi": { "id": "telegram-bot", "name": "Mitra Telegram Bot" }
      }
    }
  ],
  "connections": {
    "Daily 9PM": {
      "main": [
        [
          { "node": "Read Transactions", "type": "main", "index": 0 },
          { "node": "Read Budgets", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read Transactions": {
      "main": [
        [{ "node": "Calculate Budget Status", "type": "main", "index": 0 }]
      ]
    },
    "Read Budgets": {
      "main": [
        [{ "node": "Calculate Budget Status", "type": "main", "index": 0 }]
      ]
    },
    "Calculate Budget Status": {
      "main": [
        [{ "node": "Send Budget Alert", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "mitra-cron" }],
  "active": false
}
