workflows/cron-motivation.json
{
  "name": "Cron - Daily Motivation (6:30AM) + Weekly Review (Sun 8PM)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "30 6 * * *" }]
        }
      },
      "id": "morning-schedule",
      "name": "Daily 6:30AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 200]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 20 * * 0" }]
        }
      },
      "id": "weekly-schedule",
      "name": "Sunday 8PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 500]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.SPREADSHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Todos" },
        "options": {}
      },
      "id": "read-todos-daily",
      "name": "Read Todos (Daily)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 120],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "google-sheets", "name": "Google Sheets" }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.SPREADSHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Meals" },
        "options": {}
      },
      "id": "read-meals-daily",
      "name": "Read Meals (Daily)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 260],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "google-sheets", "name": "Google Sheets" }
      }
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "options": { "temperature": 0.8, "maxOutputTokens": 1024 },
        "messages": {
          "values": [
            {
              "content": "Generate a personalized morning motivation message for Vishal.\n\nYesterday's data:\n- Todos: {{ $('Read Todos (Daily)').all().filter(t => t.json.status === 'completed').length }} completed, {{ $('Read Todos (Daily)').all().filter(t => t.json.status === 'pending').length }} pending\n- Meals logged: {{ $('Read Meals (Daily)').all().length }}\n\nCreate a short, energizing morning message that:\n1. Starts with a motivational quote or observation (rotate themes: discipline, consistency, growth, health, wealth)\n2. Acknowledges yesterday's effort (be specific if data available)\n3. Sets 3 focus themes for today (health, productivity, finance - pick relevant ones)\n4. Ends with an encouraging one-liner\n\nKeep it under 200 words. Use emojis naturally. Tone: warm, supportive friend.\nFormat for Telegram Markdown."
            }
          ]
        }
      },
      "id": "daily-motivation",
      "name": "Generate Daily Motivation",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [700, 200],
      "credentials": {
        "googleGeminiApi": { "id": "gemini-api", "name": "Gemini API" }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "send-daily",
      "name": "Send Morning Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [940, 200],
      "credentials": {
        "telegramApi": { "id": "telegram-bot", "name": "Mitra Telegram Bot" }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.SPREADSHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Todos" },
        "options": {}
      },
      "id": "read-todos-weekly",
      "name": "Read Todos (Weekly)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 420],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "google-sheets", "name": "Google Sheets" }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.SPREADSHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Workouts" },
        "options": {}
      },
      "id": "read-workouts-weekly",
      "name": "Read Workouts (Weekly)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 560],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "google-sheets", "name": "Google Sheets" }
      }
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.SPREADSHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Transactions" },
        "options": {}
      },
      "id": "read-txns-weekly",
      "name": "Read Transactions (Weekly)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [440, 700],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "google-sheets", "name": "Google Sheets" }
      }
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash",
        "options": { "temperature": 0.6, "maxOutputTokens": 2048 },
        "messages": {
          "values": [
            {
              "content": "Generate a comprehensive weekly review for Vishal.\n\nThis week's data:\n\nTodos:\n{{ $('Read Todos (Weekly)').all().slice(-30).map(t => `${t.json.date}|${t.json.task}|${t.json.status}|${t.json.priority}`).join('\\n') }}\n\nWorkouts:\n{{ $('Read Workouts (Weekly)').all().slice(-7).map(w => `${w.json.date}|${w.json.type}|${w.json.duration_min}min|${w.json.distance_km}km`).join('\\n') }}\n\nFinance:\n{{ $('Read Transactions (Weekly)').all().slice(-30).map(t => `${t.json.date}|${t.json.category}|${t.json.amount}|${t.json.merchant}`).join('\\n') }}\n\nCreate a weekly review that:\n1. *Productivity*: Task completion rate, patterns, wins\n2. *Fitness*: Workouts done vs target (3 runs, 15km/week), trends\n3. *Finance*: Week's spending, budget adherence, notable expenses\n4. *Health*: Nutrition patterns, sleep, activity\n5. *Top 3 Wins* of the week\n6. *Top 2 Improvements* needed\n7. *Next Week's Focus*: 3 specific, actionable goals\n8. *Comparison*: vs last week (better/worse/same)\n\nBe honest but encouraging. Use data to back up observations.\nEnd with a motivational close.\nFormat for Telegram Markdown."
            }
          ]
        }
      },
      "id": "weekly-review",
      "name": "Generate Weekly Review",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [700, 560],
      "credentials": {
        "googleGeminiApi": { "id": "gemini-api", "name": "Gemini API" }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "send-weekly",
      "name": "Send Weekly Review",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [940, 560],
      "credentials": {
        "telegramApi": { "id": "telegram-bot", "name": "Mitra Telegram Bot" }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.SPREADSHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Weekly_Summary" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "week_start": "={{ new Date(Date.now() - 7*24*60*60*1000).toISOString().split('T')[0] }}",
            "ai_summary": "={{ $json.text.substring(0, 500) }}"
          }
        },
        "options": {}
      },
      "id": "save-weekly",
      "name": "Save Weekly Summary",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1160, 560],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "google-sheets", "name": "Google Sheets" }
      }
    }
  ],
  "connections": {
    "Daily 6:30AM": {
      "main": [
        [
          { "node": "Read Todos (Daily)", "type": "main", "index": 0 },
          { "node": "Read Meals (Daily)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read Todos (Daily)": {
      "main": [
        [{ "node": "Generate Daily Motivation", "type": "main", "index": 0 }]
      ]
    },
    "Read Meals (Daily)": {
      "main": [
        [{ "node": "Generate Daily Motivation", "type": "main", "index": 0 }]
      ]
    },
    "Generate Daily Motivation": {
      "main": [
        [{ "node": "Send Morning Message", "type": "main", "index": 0 }]
      ]
    },
    "Sunday 8PM": {
      "main": [
        [
          { "node": "Read Todos (Weekly)", "type": "main", "index": 0 },
          { "node": "Read Workouts (Weekly)", "type": "main", "index": 0 },
          { "node": "Read Transactions (Weekly)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Read Todos (Weekly)": {
      "main": [
        [{ "node": "Generate Weekly Review", "type": "main", "index": 0 }]
      ]
    },
    "Read Workouts (Weekly)": {
      "main": [
        [{ "node": "Generate Weekly Review", "type": "main", "index": 0 }]
      ]
    },
    "Read Transactions (Weekly)": {
      "main": [
        [{ "node": "Generate Weekly Review", "type": "main", "index": 0 }]
      ]
    },
    "Generate Weekly Review": {
      "main": [
        [
          { "node": "Send Weekly Review", "type": "main", "index": 0 },
          { "node": "Save Weekly Summary", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "mitra-cron" }],
  "active": false
}
